@font-face {
  font-family: "Arvo-Regular";
  src: url("./assets/fonts/Arvo-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Variable";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
  margin: 0;
  background-color:  #262626;
}

::selection{
  background: #c25959;
}

*{
  font-family: "Montserrat-Variable";
  color: #FFFFFF;
}

h1{
  font-family: "Arvo-Regular";
  color: white;
}